@import './variables';

:export {
  tileWater: $tile-water;
  tileLumber: $tile-lumber;
  tileBrick: $tile-brick;
  tileSheep: $tile-sheep;
  tileWheat: $tile-wheat;
  tileOre: $tile-ore;
  road: $tile-road;

  knight: $game-card-knight;
  victoryPoint: $game-card-victory-point;
  roadBuilding: $game-card-road-building;
  yearOfPlenty: $game-card-year-of-plenty;
  monopoly: $game-card-monopoly;

  primary: $primary;
  secondary: $secondary;
  mountain: $mountain;
  darkBlue: $board-background;
  info: $info;
  error: $error;
  warning: $warning;
  success: $success;
  highlight: $highlight;
}
