h1 {
  font-size: $base-font-size * 2.5;
}

h2 {
  font-size: $base-font-size * 2;
}

h3 {
  font-size: $base-font-size * 1.25;
  text-transform: uppercase;
}

h5 {
  font-size: $base-font-size * 0.9;
}
