@mixin text-truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin dashed-around() {
  border: 1px dashed black;
}

@mixin board-layout() {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
