$base-font-size: 12px;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;

$spacer: 12px;

$primary: #2c3e50;
$highlighted: #42b983;

$tile-size: 75px;
// $tile-size: 120px;
$tile-value-size: 45px;

$tile-brick: #a0350e;
$tile-lumber: #214013;
$tile-desert: #e2aa3a;
$tile-ore: #7a768c;
$tile-wheat: #fabc0c;
$tile-sheep: #7dbe3c;

$zindex-tile-value: 10;
