$base-font-size: 14px;
$font-size-xs: $base-font-size * 0.7;
$font-size-sm: $base-font-size * 1;
$font-size-md: $base-font-size * 1.5;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;

$spacer: 12px;

$primary: #2c3e50;
$highlighted: #42b983;

$tile-size: 60px;
$tile-value-size: $tile-size * 0.75;

$zindex-tile-value: 10;
$zindex-robber: 15;

$board-background: #01579B;
$tile-water: #2d9cd9;
$tile-desert: #E64A19;
$tile-lumber: #1B5E20;
$tile-brick: #AD1457;
$tile-sheep: #9CCC65;
$tile-wheat: #fabc0c;
$tile-ore: #37474F;
$tile-road: #8D6E63;

$btn-text-transform: uppercase; // Vuetify default

$game-card-knight: #4527A0;
$game-card-victory-point: #FFAB00;
$game-card-road-building: #3E2723;
$game-card-year-of-plenty: #00B0FF;
$game-card-monopoly: #FF1744;
